<link rel="stylesheet" type="text/css" href="style/about.css" />
<video autoplay muted loop id="backdrop_video">
  <source src="./media/backdrop_mute.mp4" type="video/mp4" />
</video>
<div class="grid-container" id="about_container">
  <div class="intro-container">
    <h1>
      Who are we exactly?
    </h1>
    <article>
      <i>"We are in the seat of the US government, a government that was
        founded by people who were, at one point, ruled by kings they
        couldn't overthrow. So, what did they do, right? They started over.
        They came here, to the New World. World 2.0, version 1776. And the
        way we win is by creating a new, democratic, decentralized Internet,
        one where the behavior of companies like this will be impossible,
        forever. One where it is the users, not the kings, who have
        sovereign control over their data. This, I promise to you: I will
        help you end this tyranny by building an Internet that is of the
        people, by the people, and for the people, so help me God."</i>
      <p>-Richard Hendricks, CEO</p>
    </article>
  </div>
  <div class="bookmarks" id="mobile-bookmarks">
    <div class="bookmarks-header">
      <p>The Pipers</p>
    </div>
    <div class="bookmarks-list">
      <ul>
        <li><a href="#richard">Richard Hendricks</a></li>
        <li><a href="#gilfoyle">Bertram Gilfoyle </a></li>
        <li><a href="#dinesh">Dinesh Chugtai</a></li>
        <li><a href="#jared">Jared Dunn</a></li>
        <li><a href="#monica">Monica Hall</a></li>
        <li><a href="#erlich">Erlich Bachman</a></li>
      </ul>
    </div>
  </div>
  <div class="short-container">
    <div class="short-texts-header">
      <p>Introducing the team</p>
    </div>
    <div class="short-texts-container">
      {{#each cardsContent}}
      <fieldset class="content" id="{{this.bookmark}}">
        <legend><img src="{{this.img}}" alt="" /></legend>
        <article>
          <p class="content-name">{{this.name}}</p>
          <p class="content-name">{{this.title}}</p>
          <p class="content-text">
            {{this.text}}
          </p>
        </article>
      </fieldset>
      {{/each}}
    </div>
  </div>
  <div class="bookmarks" id="desktop-bookmarks">
    <div class="bookmarks-header">
      <p>The Pipers</p>
    </div>
    <div class="bookmarks-list">
      <ul>
        <li><a href="#richard">Richard Hendricks</a></li>
        <li><a href="#gilfoyle">Bertram Gilfoyle </a></li>
        <li><a href="#dinesh">Dinesh Chugtai</a></li>
        <li><a href="#jared">Jared Dunn</a></li>
        <li><a href="#monica">Monica Hall</a></li>
        <li><a href="#erlich">Erlich Bachman</a></li>
      </ul>
    </div>
  </div>
</div>